In [3]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('Lemonade2016.csv')

In [6]:
df.head()

       Date Location  Lemon  Orange  Temperature  Leaflets  Price
0  7/1/2016     Park     97      67           70      90.0   0.25
1  7/2/2016     Park     98      67           72      90.0   0.25
2  7/3/2016     Park    110      77           71     104.0   0.25
3  7/4/2016    Beach    134      99           76      98.0   0.25
4  7/5/2016    Beach    159     118           78     135.0   0.25

In [7]:
df.isnull()

     Date  Location  Lemon  Orange  Temperature  Leaflets  Price
0   False     False  False   False        False     False  False
1   False     False  False   False        False     False  False
2   False     False  False   False        False     False  False
3   False     False  False   False        False     False  False
4   False     False  False   False        False     False  False
5   False     False  False   False        False     False  False
6   False     False  False   False        False     False  False
7   False     False  False   False        False     False  False
8    True     False  False   False        False     False  False
9   False     False  False   False        False     False  False
10  False     False  False   False        False     False  False
11  False     False  False   False        False     False  False
12  False     False  False   False        False     False  False
13  False     False  False   False        False     False  False
14  False     False  False   False        False     False  False
15  False     False  False   False        False     False  False
16  False     False  False   False        False     False  False
17  False     False  False   False        False     False  False
18  False     False  False   False        False     False  False
19  False     False  False   False        False     False  False
20  False     False  False   False        False      True  False
21  False     False  False   False        False     False  False
22  False     False  False   False        False     False  False
23  False     False  False   False        False     False  False
24  False     False  False   False        False     False  False
25  False     False  False   False        False     False  False
26  False     False  False   False        False     False  False
27  False     False  False   False        False     False  False
28  False     False  False   False        False     False  False
29  False     False  False   False        False     False  False
30  False     False  False   False        False     False  False
31  False     False  False   False        False     False  False

In [9]:
df.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6      True
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
dtype: bool

In [ ]:
df.dus